@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Noto+Serif+NP+Hmong:wght@600&family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html{
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Serif NP Hmong', serif;
    font-family: 'Open Sans', sans-serif;
}

ol, ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* BUTTON RULES */

.button__black{
    background-color: var(--lightblack);
    border: 1px solid white;
    border-radius: 999px;
    margin: 20px;
    padding: 15px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.button__download{
    background-color: black;
    padding: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--grey);
}

.button__profile{
    background-color: var(--grey);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

:root{
    --lightblack: #080B12;
    --darkblue:#141922;
    --grey:#7F7F7F;
    --darkgrey:#282828;
}

/* FLEX RULES */

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.nav-header{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.nav-main{
    display: flex;
    justify-content: center;
    gap: 25px;
    color: var(--grey);
    font-size: 13px;
    text-transform: uppercase;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_main{
    display: flex;
    gap: 18px;
}

.col-sidebar{
    flex-basis: 230px;
    background-color: black;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.col-big{
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--darkblue);
    position: relative;
}

.row_aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.playlist-details2{
    flex-grow: 1;
}

.row_sinister{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* UTILITY CLASSES */

.padding-horizontal{
    padding-left: 20px;
    padding-right: 12px;
}

.position-relative{
    position: relative;
    top: 90px;
    padding: 20px 20px;
}

.margin-bottom{
    margin-bottom: 30px;
}

/* TITLES RULES */

.titles{
    color: white;
    font-weight: 700;
}

.subtitles{
    color: var(--grey);
    font-weight: 600;
}

.main-titles{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.song-title{
    text-align: center;
    font-size: 15px;
}

/* SIDEBAR RULES */

.playlist-details{
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-wrapper{
    padding-top: 12px;
    padding-bottom: 12px;
}

.logo{
    width: 133px;
}

.logo-small{
    display: none;
}

.sidebar-icons{
    width: 25px;
}

.home_color{
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.grey-icons{
    color: var(--grey);
}

.sidebar-icons_description, .name-playlist{
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
}

.title-playlist{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.playlist-details__item{
    position: relative;
}

.playlist-details__item::before{
    content: "";
    display: none;
    width: 4px;
    height: 100%;
    background-color: #ADFF2F;
    position: absolute;
    top: 0;
    left: 0;
}

.create-playlist{
    font-size: 15px;
    font-weight: 700;
    color: var(--grey);
}

.fa-square-plus{
    color: var(--grey);
    font-size: 40px;
    margin-right: 10px;
}

.download-icon{
    width: 15px;
    color: var(--grey);
    text-align: center;
}

.profile__name{
    color: white;
    font-size: 15px;
    font-weight: 700;
}

/* MAIN CONTENT RULES */

    .fixed-bar{
        background-color: var(--lightblack);
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .border-green{
        position:relative;
    }

    .border-green::after{
        content: "";
        display: none;
        width: 30px;
        height: 4px;
        background-color: #ADFF2F;
        position: absolute;
        left: 40%;
    }

    .subtitle-basis{
        flex-basis: calc(100% / 6 - 125px / 6);
        text-align: center;
    }

    .col-songs{
        flex-basis: calc(100% / 6);
    }

    .position-hover{
        position: relative;
    }

    .position-icon{
        position: absolute;
        font-size: 3.5rem;
        color: white;
        display: none;
    }

    .img_youg, .img_einaudi{
        border-radius: 100%;
    }

/* PLAYER RULES */

.player{
    flex-shrink: 0;
    background-color: var(--darkgrey);
}

.sinister__img{
    margin-right: 12px;
}

.sinister__details{
    margin-right: 30px;
}

.player__img{
    width: 40px;
}

.fa-heart{
    margin-right: 10px;
}

.fa-heart, .fa-folder{
    color: var(--grey);
}
button{
    background-color: var(--darkgrey);
    border: none;
}

.col__aside{
    flex-basis: 230px;
}

.central__player{
    flex-basis: 40%;
    padding-top: 10px;
}

.progress{
    flex-grow: 1;
}

.player-icons{
    color: white;
    font-size: 18px;
}
.play-icon{
    font-size: 30px;
}

.time-progress-bar{
    color: white;
    font-weight: 700;
    font-size: 10px;
}

.progress-bar{
    background-color: #5A5A5A;
    height: 7px;
    /* width: 100%; non serve perchè c'è il flex-grow */
    margin: 20px 0;
    border-radius: 999px;
}
.progress__color{
    background-color: #c1c1c1;
    height: 7px;
    width: 25%;
    border-radius: 999px;
    position: relative;
    display: flex;
    align-items: center;
}

.progress__dot{
    border-radius: 999px;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    display: none;
}

.player-icons2{
    color: white;
}

/* HOVER RULES */

.hover-white:hover{
    color: white;
}

.playlist-details__item:hover::before,
.playlist-details__item.active::before{
    display: block;
}

.border-green:hover::after,
.border-green.active::after{
    display: block;
}

.sinister__description:hover{
    color: white;
    text-decoration: underline;
}

.button:hover{
    transform: scale(1.1);
}

.position-hover:hover .position-icon{
    display: block;
}

.position-hover:hover .img-hover{
    filter: opacity(0.3);
}

.progress__color:hover{
    background-color: #ADFF2F;
}

.progress__color:hover .progress__dot{
    display: block;
}

/* MEDIAQUERY MD */

@media screen and (max-width: 878px) {

    /* MEDIA MD - MAIN RULES */
    .nav-main, .row_main{
        flex-wrap: wrap;
    }

    .subtitle-basis{
        flex-basis: calc(100% / 5 - 100px / 5);
    }

    .col-songs{
        flex-basis: calc(100% / 4 - 54px / 4);
    }
}


/* MEDIAQUERY S */

@media screen and (max-width: 639px) {

    /* MEDIA S - MAIN RULES */

    .subtitle-basis{
        flex-basis: calc(100% / 3 - 50px / 3);
        text-align: center;
    }

    .col-songs{
        flex-basis: calc(100% / 2 - 18px);
    }
    /* MEDIA S-PLAYER RULES */

    .player__img{
        width: 36px;
    }

    .sinister__icons{
        display: block;
    }
}


/* MEDIAQUERY XS */

@media screen and (max-width: 552px) {

    /* MEDIA XS - MAIN RULES */
    .row{
        height: calc(100vh - 50px);
    }

    .subtitle-basis{
        flex-basis: calc(100% / 4 - 75px / 4);
        text-align: center;
    }

    .subtitle-discover, .subtitle-new{
        flex-basis: calc(100% / 2 - 25px);
        text-align: center;
    }

    /* MEDIA XS-SIDEBAR RULES */
    .col-sidebar{
        flex-basis: 50px;
        align-items: center;
    }

    .padding-horizontal{
        padding-left: 0px;
        padding-right: 0px;
    }

    .playlist-details__item::before{
        display: none !important;
    }

    .col-big{
        flex-basis: calc(100% - 50px);
    }

    .sidebar-icons,
    .profile__name{
        font-size: 20px;
        text-align: center;
    }

    .logo-small{
        display:inline;
        width: 28px;
    }

    .logo, .logo_description, .home_color,
    .sidebar-icons_description,
    .playlist-details2,
    .profile__name{
        display: none;
    }

    .playlist-details{
        flex-grow: 1;
    }

    .button__download{
        border: none;
    }

    /* MEDIA XS-PLAYER RULES */

    .player__img{
        width: 30px;
    }

    .sinister__title, .sinister__description{
        font-size: 12px;
    }
}
