*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}
ol, ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root{
    --lightblack: #080B12;
    --darkblue:#141922;
    --grey:#7F7F7F;
    --darkgrey:#282828;
}

/* DEBUG RULES */

header{
    border: 2px solid red;
}

main{
    border: 2px solid red;
}

aside{
    border: 2px solid red;
}

/* CONTAINERS*/

.container{
    max-width: 1440px;
    margin: 0 auto;  
}

/* FLEX RULES */
.row{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 90px);
}

.col-big{
    flex-grow: 1;
}

.player{
    height: 90px;
}

.col-sidebar{
    width: 230px;
}

/* MEDIAQUERY MD */

@media screen and (max-width: 878px) {
    
}


/* MEDIAQUERY S */
@media screen and (max-width: 639px) {
    
}


/* MEDIAQUERY XS */
@media screen and (max-width: 552px) {
    
    .col-sidebar{
        width: 50px;
    }
}